<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A to do list application to keep track of everything you need to do today, this week, this month, or this year.">
  <meta name="keywords" content="todo,to do">
  <meta name="author" content="Richard Huynh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="/styles/main.css" rel="stylesheet">
</head>
<body>