<%- include("partials/header.ejs") %>
<div id="content" class="px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">To Do</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This website helps you keep track of everything you need to do today, this week, this month, or this year.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/register" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</a>
      <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
