<%- include("partials/header.ejs") %>
<main id="content" style="width:300px" class="form-signin m-auto">
  <form method="post">
    <a href="/"><img
      class="mb-4"
      src="/images/clipboard.png"
      alt=""
      width="72"
      height="72"
    /></a>
    <h1 class="h3 mb-3 fw-normal">Log in</h1>
    <div class="form-floating">
      <input
        name="username"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <input class="btn btn-primary w-100 py-2 mt-2" type="submit" value="Log in">
    <a class="btn btn-outline-secondary w-100 my-2" href="/auth/google/login" role="button"><img src="/images/google-icon.webp=s96-fcrop64=1,00000000ffffffff-rw" width="20"> Log in with Google</a>
    <p id="error-message"><%= message %></p>
  </form>
</main>
<%- include("partials/footer.ejs") %>
